	* {
	  box-sizing: border-box;
	}
	.main_section{
	}
	.main_section .table-responsive{
		margin-top: 10px;
	}
	.main_section .top_bar{
		padding: 20px 0px; 
		display: flex;
		justify-content: space-between;
	}
	.main_section .top_bar .left{
		display: flex;
	}
	.main_section .top_bar .left form{
		display: flex;
		margin-right: 10px;
	}
	.main_section .table-responsive .table tbody tr td form {
		float: left;
	}

	.header_section{
	    background-color: #138496;
	    padding: 10px 0px;
	    color: #fff;
	}
	.header_section .header{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header_section .header h4{
		margin-bottom: 0;
	}
	.form_section{
		padding: 40px 0px;
	}
	.login_section {
	}
	.login_section .login_area{
		margin-top: 100px;
	}
	.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }

    /*
     * Sidebar
     */

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 48px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #343a40;
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
      }
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #fff;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999;
    }

    .sidebar .nav-link.active {
      color: #fff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }

    /*
     * Content
     */

    [role="main"] {
      padding-top: 133px; /* Space for fixed navbar */
    }

    @media (min-width: 768px) {
      [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
      }
    }

    /*
     * Navbar
     */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }

    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
    .column_one_third .card{
    	padding-top: 50px;
    	background-color:  #3393ff;
    }
    .card .card-body h5{
		color: #fff;
		font-size: 28px;
    }
    .card .card-footer a{
		color: #fff;
		text-decoration: none;
    }